@charset "utf-8";
body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,th,caption,hr,h1,h2,h3,h4,h5,h6,img,input{
	margin:0;
	padding:0;
}

body{
	font-family:"微软雅黑",Arial;
}
a{
	text-decoration: none;
	display:block;
}
ul,ol{
	list-style: none;
}
img{
	display: block;
}
/*头部*/
header{
	width:100%;
	height:164px;
	background:pink;

}
.logtop{
	width:1042px;
	height:69px;
	margin:0 auto;
	background:red;
}
#logmiddle{
	width:1042px;
	height:79px;
	margin:0 auto;
	background:green;
}
.logline{
	width:100%;
	height:16px;
	background:#000000;
}

// 大盒子
nav{
	width:1040px;
	height:2050px;
    margin: 0 auto;
    overflow:hidden;
}

#lbpic{
	width:1040px;
	height:482px;
    background:pink; 
}
.navpic{
	width:1040px;
	height:414px;
	background:gray;
}

.lbtitle{
  width:1040px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  line-height: 38px;
  color: #000;
}
.advbanner{
	text-align: center;
}


#articleList{
	position: relative;
    width: 1068px;
    min-height: 631px;
    margin-top: 20px;
    background:green;
}
.atcMore{
	margin-top:40px;
	margin-bottom:30px;
}
#more{

	width: 130px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    background-color: black;
    text-align: center;
}
#more a{
	color:white;
}
.atctitle{
	color: #000;
    margin-bottom: 20px;
    text-align: center;
    font: bold 36px "Franklin-Demi","冬青黑体","microsoft yahei";
}
