@charset "utf-8";
body,div,p,ul,ol,li,dl,dt,dd,form,table,tr,td,th,caption,hr,h1,h2,h3,h4,h5,h6,img,input{
	margin:0;
	padding:0;
}

body{
	font-family:"微软雅黑",Arial;
}
a{
	text-decoration: none;
	display:block;
}
ul,ol{
	list-style: none;
}
img{
	display: block;
}

/*鼠标样式*/
// body{cursor:url('http://iqzhan.cn/images/cursor/curos.cur'),auto!important;}
// a{cursor:url('http://iqzhan.cn/images/cursor/curoslink.cur'),auto;}
// input{cursor:url('http://iqzhan.cn/images/cursor/curostext.cur'),auto;}
// button{cursor:url('http://iqzhan.cn/images/cursor/curoslink.cur'),auto;}
// img{cursor:url('http://iqzhan.cn/images/cursor/curos.cur'),auto; }

/*头部*/
header{
	width:100%;
	height:164px;
	
    overflow:hidden;
}
.bigbox{
	width:1040px;
	margin:0 auto;
}
.logtop{
	width:792px;
	height:69px;
	float:right;
	overflow:hidden;
	background:pink;
}
.headerlogin{
	color:#d2d2d2;
	margin-left:20px;

}
.uls{
    margin-left: 20px;
}
.uls li{
	display:inline-block;
}
.uls1{
	background:url(../img/people.png) no-repeat 0px 5px;
	padding: 2px 0 2px 20px;
	overflow:hidden;
}
.uls1 a{
	font-size:16px;
	float:left;
}
.uls1a{
	background:url(../img/xieline.png) no-repeat 0px 2px;
	padding-left:12px;
}
.uls2{
	background:url(../img/buyjt.png) no-repeat 103px 8px;
	padding-right: 18px;
	a{
		font-size:16px;
	}
}
.uls2a{
	background:url(../img/gwc.png) no-repeat 0px 4px;
	padding: 2px 0 2px 20px;
}






#logmiddle{
	width:1042px;
	height:79px;
	margin:0 auto;
	background:green;
	clear:both;
	position: relative;
}
.loglistbox{
	width:100%;
	overflow:hidden;
}




.logline{
	width:100%;
	height:16px;
	background:#000000;
}

// 大盒子
nav{
	width:1040px;
	// height:2050px;
    margin: 0 auto;
    overflow:hidden;
    background:#f1f2ed;
}

#lbpic{
	width:1040px;
	height:482px;
    background:pink;
    margin-top:30px; 
}
.navpic{
	position:relative;
	width:1040px;
	height:414px;

	justify-content:space-between;
	display:flex;
}
#picmore1{
	    margin: 0 22px;
}
.picpmore{
	// position:relative;
	width:332px;
	height:414px;
}
.picmore:hover{
    box-shadow: 0 0 12px #bbb;
}
.navtitle{
	width:332px;
	height:206px;
	background:black;
	position: absolute;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,0.8);
	text-align:center;	
}
.navtitle h3{
	color:white;
	font-weight:bold;
	line-height:28px;
	padding-top:20px;
	font-size:22px;
	padding-bottom:14px;
}
.movesbox{
	color:white;
    width:48px;
	line-height:34px;
	// margin-top:14px;
	display:block;
	margin:0 auto;
}
.movesbox:hover{
	width: 80px;
	border-radius: 6px;
	transition: all 1s;
	background:#c8192e;
	color:white;
}
.movebox{
	width:80px;
	diplay:block;
	color:white;
	margin:0 auto;
	line-height:34px;
}
.movebox:hover{
	width: 120px;
	border-radius: 6px;
	transition: all 1s;
	background:#c8192e;
	color:white;
}

.navtitlet{
	width:332px;
	height:206px;
	background:black;
	position: absolute;
	bottom:0;
	left:354px;
	background-color: rgba(0,0,0,0.8);
	text-align:center;	
}
.navtitlet h3{
	color:white;
	font-weight:bold;
	line-height:28px;
	padding-top:20px;
	font-size:22px;
	padding-bottom:14px;
}
.navtitlef{
	width:332px;
	height:104px;
	background:black;
	position: absolute;
	bottom:0;
	left:708px;
	background-color: rgba(0,0,0,0.8);
	text-align:center;	
}
.navtitlef h3{
	color:white;
	font-weight:bold;
	line-height:28px;
	padding-top:20px;
	font-size:22px;
	padding-bottom:14px;
}
#navtitlef1 a{
	width:108px;

}



.lbtitle{
  width:1040px;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
  line-height: 38px;
  color: #000;
}
.advbanner{
	text-align: center;
}


#articleList{
	// position: relative;
    width: 1068px;
    // min-height: 631px;
    margin-top: 20px;
    margin-bottom: 110px;
    // background:pink;

    display:flex;
}
.atcMore{
	margin-top:40px;
	margin-bottom:30px;
}
#more{

	width: 130px;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    background-color: black;
    text-align: center;
}
#more a{
	color:white;
}
.atctitle{
	color: #000;
    margin-bottom: 20px;
    text-align: center;
    font: bold 36px "Franklin-Demi","冬青黑体","microsoft yahei";
}
#pictitle{
	width:1390px;
	height:183px;
	// background:yellow;
}
#pictitle li{
	float:left;
	margin-right:22px;
    position: relative;
}
#pictitle li img {
	width:245px;
	height:183px;
}
.texts{
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    font: bold 20px/80px "Franklin-Book","冬青黑体","microsoft yahei";
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,0.5)
}


// 尾部

footer{
	width:100%;
	// height:471px;
	background:#1c1c1c;
	margin-top:60px;
	overflow:hidden;
}

.login{
    font: 15px/48px "Franklin-Demi","冬青黑体","microsoft yahei";
    color: #d2d2d2;
    margin-left: 20px;

}

.footertop{
	width:1040px;
	margin:0 auto;
	overflow:hidden;
}
.footer1{
	border-right: 1px solid #919191;
	width:381px;
	height:265px;
	float: left;
	margin-top:30px;
}
.help{
	// min-height:265px;
	margin-top:30px;
}
.ftitle{
	line-height:24px;
}
.ftitle span{
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
.fleft{
	float:left;
	    width: 170px;
    padding-left: 20px;
	// line-height:16px;
}
.fleft ul li{
	line-height:22px;
	font-size:14px;
	color: #fff;
}
.fleft ul li a{
	color:#589bc6;
	font-size:14px;
}
.fright{
	float:left;
    width: 170px;
    padding-left: 20px;
}
.fright ul li{
	color: #fff;
	line-height:22px;
	font-size:14px;
}
.fright ul li a{
	color:#589bc6;
	font-size:14px;
}


.footer2{
    margin-left: 40px;
    float: left;
}
.f2title{
	font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-top: 30px;
    color:white;
}
.f2adress{
	margin-top: 25px;
    margin-left: 20px;
}

.email{
	line-height: 22px;
    font-size: 14px;
    color: #fff;
}
.coms{
	line-height:22px;
	margin-top:10px;
	color:#589bc6;
	font-size:14px;
    }

.fadress{
	line-height:18px;
    padding-top:30px;
    color: #fff;
}
.fchina{
	margin-top:8px;
	line-height:16px;
	color: #589bc6;
	font-size:14px;
}


.footer3{
	width: 330px;
    height: 265px;
    border-left: 1px solid #919191;
    float:right;
    margin-top:30px;
}
.fsmallbox{
	margin-left: 40px;
}

.fsmallbox h3{
	font-weight: bold;
    font-size: 18px;
    line-height: 24px;

    color:white;
}
.getnews span{
	margin-top:22px;
	margin-bottom:10px;
	display:block;
	color:#919191;
	font-size:15px;
}
.input{
	width: 218px;
    height: 32px;
    border: 1px solid #1c1c1c;
    display: block;
    position: relative;
    background-color: #fff;
}
.email-box{
	 width: 180px;
    border: 0;
    padding: 0;
    padding-left: 10px;
    outline: none;
    font-size: 15px;
    position: absolute;
    left: 0;
    top: 6px;
}

.btn01{
	float:right;
	width:28px;
	height:32px;
	border:0;
	background: url(../img/jt.jpg) no-repeat center center;
	background-size:9px auto;
	padding:0;
	outline:none;
	cursor:pointer;
}

.surelook h3{
	margin:30px 0 ;
	display:block;
	width:220px;
	text-align:center;
	font-size:18px;
	line-height:26px;
}

.clearfix li{
	float:left;
	margin-right:10px;
}
// .clearfix{
// 	.hover1{
// 		a{
// 			display:block;
// 			width: 36px;
// 			height: 36px;
// 			background: url(../img/bg_zy.png) no-repeat 0 0;
// 			&:hover{
// 				transition: all 1s;
// 				background: url(../img/bg_zy.png) no-repeat 0 -78px;
// 			}
// 		}
// 	}
// }

.footerbottom{
	width:1110px;
	margin:0 auto;
	padding:30px 0;
	    overflow: hidden;
}
.btitle{
	float:left;
	margin-left:22px;
}
.bimg{
	float:left;
}
.sa{
	color:#919191;
}
.bttop p a{
	float:left;
}
.sas{
	color:#589bc6;
}
.bp{
	color:#589bc6;
}
.btbom{
	position:relative;
	margin-top:10px;
}
.con{
	width:88px;
	height:35px;
	padding-left:20px;
	cursor:pointer;
	background: #64686b url(../img/xjt.jpg) no-repeat 78px center;
	background-size:34px auto;

}
.con span{
	vertical-align:middle;
	color:white;
    line-height:34px;
}
.articleList{
	

}
.artbox1{
	border:1px solid #d7d8d4;
	width:246px;
	margin-right:19px;
    font-size: 14px;
    height:426px;
}
.artbox1 h3{
    color:#000000;
    line-height:28px;
    margin-top:18px;
    margin-left:16px;
    font-size: 16px;
}
.artbox1 a{
	color:#589bd0;
	line-height:42px;
	margin-top:10px;
	padding-bottom:26px;
	text-align:center;
	font-size:16px;
}
.artbox1 p{
	line-height:22px;
	margin-top:20px;
	color:#666666;
	margin-left:16px;
	font-size:16px;
}
.artbox1 img{
	display:block;
	width:214px;
	height:194px;
	margin:16px 16 0 16px;
	margin-left:16px;
	margin-top:16px;
}
.artbox1 span{
	line-height:26px;
	margin-top:22px;
	display:block;
	margin-left:16px;
	font-size:16px;
}
.artbox2{
	border:1px solid #d7d8d4;
	width:246px;
	margin-right:19px;
    font-size: 14px;

}

.artbox2 img{
	display:block;
    margin-left:16px;
	margin-top:16px;
}
.artbox2 h3{
	color:#000000;
    line-height:28px;
    margin-top:18px;
    margin-left:16px;
    font-size: 16px;
}
.artbox2 p{
	line-height:22px;
	margin-top:20px;
	color:#666666;
	margin-left:16px;
	font-size:16px;
}
.artbox2 span{
	line-height:26px;
	margin-top:22px;
	display:block;
	margin-left:16px;
	font-size:16px;
}
.artbox2 a{
	color:#589bd0;
	line-height:42px;
	margin-top:10px;
	padding-bottom:26px;
	text-align:center;
	font-size:16px;
}
.artbox3{
	border:1px solid #d7d8d4;
	width:246px;
	margin-right:19px;
    font-size: 14px;
}
.artbox3 img{
	display:block;
    margin-left:16px;
	margin-top:16px;
}
.artbox3 a span {
	display:block;
	color:#000000;
	line-height:26px;
	padding-top:19px;
	padding-bottom:23px;
	margin-left:16px;
	font-size:16px;
}
.day5{
    font-size: 14px;
    
        padding-left: 19px;
}
.time{
	font-size: 16px;
    padding: 23px 16px 15px;
}
.textbtn{
    height: 40px;
    padding-bottom: 10px;
    line-height: 40px;
    text-align: center;
}
.textbtn a{
	padding-top: 16px;
	display: block;
    line-height: 18px;	
    font: bold 16px "Franklin-Demi","冬青黑体","microsoft yahei";
    color: #589BC6;
}
#btnbtn{
	    margin-bottom: 24px;

}
#day5{
	line-height: 30px;
}